
<main>
    {{#if userSession}}
    <section class="session-section">
        <span>Hola {{{toUperCaseHelper userSession.name}}} Bienvenido</span>
        <a href="/session/logout">Cerrar sesion</a>
    </section>
    {{/if}}
    <section class="home-background main-show-background">
        
    </section>
    <section class="searchBar-section">

  

        <div class="searchBar-container">
            <div class="search-container">

            <form  id="searchFlyForm" action="/searchfly">
                <div class="searchFlyForm-top-section">
                    <div class="one-way-div flightType-div">
                        <label for="flightType">Ida</label>
                        <input type="checkbox" name="flightType" id="oneWay" value="ONE_WAY" checked>
                    </div>
                    <div class="round-trip-div flightType-div ">
                        <label for="flightType">Ida y vuelta</label>
                        <input type="checkbox" name="flightType" id="roundTrip" value="ROUND_TRIP" >
                    </div>                
                </div>
                <div class="searchFlyForm-middle-section">
            
                    {{!-- <div class="input-icon">
                        <i class="fas fa-calendar-alt"></i>
                        <input type="date">
                    </div> --}}

                    <div class="div-flex-column ">
                        <label for="from">Origen</label>
                        <input type="text" id="searchInput" name ="from" placeholder="Buscar..." required>
                        <div id="searchDropdown" class="dropdown-content"></div>

                    </div>

            
                    <div class="select-wrapper">
                        <label for="ticketClass">Clase </label>
                        <select id="ticketClass" name="ticketClass" >
                            <option value="economy">Economy</option>
                            <option value="business">Business</option>
                        </select>
                    </div>

                    <div class="div-flex-column ">
                        <label for="NumberOfTickets">Pasajeros</label>
                        <input type="number" id="NumberOfTickets" name="not" required min="1" max="4" onkeydown="return false;">
                    </div>
          
                    <div class="input-icon div-flex-column ">
                        <label for="dateFlight">Partida</label>
                        <input type="date" id="dateFlight" name="dateFlight" onkeydown="return false;">
                    </div>

                    <div class="input-icon div-flex-column" id="returnDateFlightContainer">
                        <label for="returnDateFlight" id="label-returnDateFlight">Vuelta</label>
                        <input type="date" id="returnDateFlight" name="returnDateFlight" onkeydown="return false;">
                    </div>
                                
                </div>
                
                <div class="searchFlyForm-bottom-section">
                    <input type="submit"  value="Buscar">
                </div>
            </form>
        </div>
    </section>

</main> 

<script>
    let options = {{{JsonHelper destinations}}};
    
</script>

<script src="static/js/home.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
