.home-background{
    background-image: url("https://images.pexels.com/photos/1008155/pexels-photo-1008155.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    // background-image: url("https://images.pexels.com/photos/1371360/pexels-photo-1371360.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    height: 80vh !important;
}

.searchBar-section {
    height: 50vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}


.searchBar-container {
    background-color: rgba(255, 255, 255, 0.9); 
    height: 90%;
    width: 80%;
    margin-top: -149px;
    padding: 25px;
    position: relative;
    border-radius: 10px; 
    padding: 30px;
    background-clip: padding-box; 
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.5); 
}

.session-section{
    display: flex;
    justify-content: center;
}

.session-section a {
    padding-left: 60px ;
}

.tabs-container {
    display: flex;

    margin-bottom: 10px;
}

.tab {
    background-color: #f1f1f1;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    font-size: 18px; /* Ajusta el tamaño del texto */
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre el icono y el texto */
    color: rgb(122, 122, 122);
}

.tab i {
    font-size: 24px; /* Ajusta el tamaño del icono */
    // color: rgb(122, 122, 122);

}

.tab::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px; /* Ajusta la altura de la barra */
    background-color: transparent;
    transition: background-color 0.3s;
}

.tab:hover {
    background-color: #ddd;
}

.tab:hover::after {
    background-color: $secondary-color; /* Color de la barra azul */
}

// .tab-content {
//     display: none;
// }

.tab-content.active {
    display: block;
}

.tab.active {
    color: $secondary-color; /* Color azul para el texto e icono del botón activo */
}

.tab.active::after {
    background-color: $secondary-color; /* Barra azul para el botón activo */
}
#reservationForm {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    flex-direction: row;
}

#reservationForm input,
#reservationForm button {
    // flex: 1; /* Hace que todos los elementos tengan el mismo ancho */
    padding: 10px; /* Añade relleno para un tamaño consistente */
    box-sizing: border-box; /* Incluye el relleno en el tamaño total del elemento */
    font-size: 16px; /* Tamaño del texto consistente */
    border: 1px solid #ccc; /* Borde para los inputs */
    margin-inline: 10px;
}

#reservationForm button {
    cursor: pointer;
    background-color: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde para el botón */
    transition: background-color 0.3s; /* Transición suave para el cambio de color */
    width: 150px;

}

#reservationForm button:hover {
    background-color: #0056b3; /* Color de fondo del botón al hacer hover */
}

#reservationForm input:first-child {
    border-right: none; /* Quita el borde derecho del primer input */
}

#reservationForm input:last-child {
    border-left: none; /* Quita el borde izquierdo del último input */
}
