<main>
  <section>
    <div class="main-show-background background-register"></div>
  </section>
  <section class="register-data-section">
    <div class="form-container">
      <h2>¿Olvidaste tu contraseña?</h2>
      <p>Complete los datos y coloque una nueva contraseña.</p>

      <form action="" id="recoverPassword-form">
        {{! <form action="/session/recuperar-contrasena" method="post" id="recoverPassword-form"> }}
        <label for="email_recoverPassword">Email:</label>
        <input
          type="email"
          name="email_recoverPassword"
          id="email_recoverPassword"
          required
        />
        <hr />
        <input type="submit" value="Enviar" />
      </form>

    </div>
  </section>
</main>

<script src="/static/js/recoverPassword.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>