<main>
    <section>
        <div class="main-show-background background-register"></div>
    </section>
      <section class="register-data-section">
            <div class="form-container">
                <h2>多Olvidaste tu contrase単a?</h2>
                <p>Complete los datos y coloque una nueva contrase単a.</p>

                <form action="" id="recoverPassword-form">
                {{!-- <form action="/session/recuperar-contrasena" method="post" id="recoverPassword-form"> --}}
                    <label for="email_recoverPassword">Email:</label>
                    <input type="email" name="email_recoverPassword" id="email_recoverPassword">

                    <label for="new_password">Nueva contrase単a: </label>
                    <input type="text" name="new_password" id="new_password">
                    <hr>
                    <input type="submit" value="Enviar">
                </form>

            </div>
      </section>
</main>

<script src="/static/js/recoverPassword.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
