<section>
    <div>
        <div class="card">
            <div class="profile-picture"></div>
            <div class="user-details">
                <h2>{{toUperCaseHelper userData.name}} {{toUperCaseHelper userData.lastname}}</h2>
                <p>Email: {{userData.email}}</p>
                <p>Fecha de Nacimiento: {{FormDataHelper userData.dateOfBirth}}</p>
            </div>
        </div>
    </div>
</section>

