<div class="usersession-section main-show-background">
  <div class="usersession-background ">
    {{!-- <form action="/session/acceso" method="post" class="usersession-form"> --}}
    <form class="usersession-form">
        <h2>Mi Cuenta</h2>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" required>
        <label for="password">Contraseña</label>
        <input type="text" name="password" id="password" required>
        <input type="submit" class="usersession-form-btn" value="INGRESAR">
        <a href="/session/registro">No tenes una cuenta?</a>
        <a href="/session/recuperar-contrasena">Olvidaste tu Contraseña</a>
    </form>
  </div>
</div>


<script src="/static/js/userLogin.js"></script>