<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Aerolineas ARG | {{{title}}}</title>
</head>

<header>




    <nav>
        {{#if userSession}}
            <a href="/home">Inicio</a>
            <a href="#">Acerca de</a>
            <a href="#">Servicios</a>
            <a href="#">Contacto</a>
        {{else}}
            <a href="/home">Inicio</a>
            <a href="#">Acerca de</a>
            <a href="#">Servicios</a>
            <a href="#">Contacto</a>
            <a href="/session/acceso">Iniciar sesion</a>
        {{/if}}
    </nav>
    
</header>
<body>
    {{{body}}}
</body>
<footer class="footer-section">
    <footer>
        <p>&copy; 2024 Mi Sitio Web. Todos los derechos reservados.</p>
    </footer>
</footer>

<script src="https://kit.fontawesome.com/91d81ca14f.js" crossorigin="anonymous"></script>
</html>